@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

ul li{list-style:none;}

body {
    font-family: Montserrat;
    background: url(./img/Wallpaper.jpg);
    background-size: cover; /* Робимо задній фон на весь розмір сторінки */
    background-repeat: no-repeat;
    overflow: hidden; /*Прибираємо scroll*/
    color: #fff;
    margin: 0;
}
.wrapper {

    display: flex;           /*Відцентрував елементи*/
    flex-direction: column;  /*Відцентрував елементи*/
    align-items: center;     /*Відцентрував елементи*/

    padding: 15px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i1Country {
    width: 100%;
    max-width: 500px;
    height: 20px;
    padding: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}
.i1Country::placeholder {
    color: #000;
}
.i1Country:focus {
    outline: 1px solid #fff;
}
.selectUK {
    height: 30px;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
}
.selectUK:focus {
    outline: 1px solid #fff;
}
.selectUK option {
    color: #fff;
    border: none;
    background-color: rgb(90, 90, 90);
}
.selectUK option:focus {
    outline: 1px solid #fff;
}

.info {
    padding-top: 70px;

    display: flex;           /* Відцентрував елементи*/
    flex-direction: column;  /* Відцентрував елементи*/
    align-items: center;     /* Відцентрував елементи*/
}
.name {
    font-size: 100px;
    letter-spacing: 5px;
}
.tempCloud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    letter-spacing: 2px;
}
.tempCloud h1 {
    width: 300px;
    text-align: center;
}
.temp {
    font-size: 50px;
}
.cloud {
}

.list {
}
.items {
    display: flex;
    gap: 100px;
}
.items li {
    width: 150px;
}
.item1 {
}
.item2 {
}
.item3 {
}
.item4 {
}
.item5 {
}

.divButton {
    padding-top: 100px;
}
.bGo {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 24px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.bGo:hover {
    color: #000;
    background-color: #fff;
}

@media(max-width: 1224px) {
    .items {
        gap: 20px;
    }
}

@media(max-width: 991px) {
    .name {
        font-size: 70px;
    }
    .items {
        gap: 0px;
    }
    .tempCloud {
        gap: 100px;
    }
}

@media(max-width: 767px) {
    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 15px;
    }
    .tempCloud {
        gap: 0;
    }
    .i1Country {
        width: 300px;
    }
}

@media(max-width: 650px) {
    .name {
        font-size: 40px;
    }
    .temp {
        font-size: 40px;
    }
    .cloud {
        font-size: 20px;
    }
}